<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/NftShop.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <title>NFT Shop View</title>
</head>
<body>

<header>
  <div class="header-content">
    <a href="/nftShopHome">
      <img src="../assets/PhygitalifyQR icon.png" alt="アイコン" class="top-icon"/>
    </a>
    <div class="PhygitalifhQR">PhygitalifhQR</div>
    <div class="search-wrapper">
      <input type="text" class="search-bar" placeholder="Search event(Dummy function)">
      <a class="search-button" aria-label="検索">🔍</a>
    </div>
    <div class="account-name">John Doe</div> <!--仮のもの-->
    <a href="/nftView" class="button">My tickets</a>
  </div>
</header>

<div class="header-banner">
  NFT Tickets
</div>

<div id="ipfs-image" class="nft-list">
  <% if (nfts && nfts.length > 0) { %>
    <% nfts.forEach((nft, index) => { %>
      <% if (nft.imageUrl) { %>
        <div class="nft-item">
          <!-- 画像をクリックしたときにモーダルを開くためのクラス modal-opener を追加 -->
          <img src="<%= nft.imageUrl %>" alt="<%= nft.name %>" class="nft-image modal-opener" data-index="<%= index %>">
          <% if (nft.name !== undefined) { %>
            <p><%= nft.name %></p>
          <% } else { %>
            <p>name: Not name</p>
          <% } %>
        </div>
      <% } %>
    <% }); %>
  <% } else { %>
    <p>No images found.</p>
  <% } %>
</div>

<!-- モーダルのコンテンツをここに追加 -->
<div id="modal-container" class="modal-container">
  <div id="modal-content" class="modal-content">
    <div id="modal-header-banner" class="modal-header-banner"> NFT Tickets</div>
      <span id="modal-close" class="modal-close"></span>    
      <a id="modal-image-link" class="modal-image-link" href="" target="_blank">
        <img id="modal-image" class="modal-image" src="" alt="">
      </a>
      <p id="modal-caption" class="modal-caption"></p>
  </div>
</div>

<!-- クライアントサイドの JavaScript ファイル -->
<script src="/javascripts/nftViewClient.js"></script>

<!-- サーバーサイドからクライアントサイドにデータを渡す -->
<script>
  // EJS で変数を埋め込む
  const nfts = <%- JSON.stringify(nfts) %>;
</script>

<footer>
  <div class="footer-content">
    <p>&copy; 2024 Event Tickets Center. All rights reserved.</p>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" class="social-icon facebook" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="social-icon instagram" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="social-icon twitter" aria-label="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>

</body>
</html>
